Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.7
modeltranslation==0.25
mutagen==1.47.0
packaging==24.1
pillow==10.4.0
pycryptodomex==3.20.0
python-tkdnd==0.2.1
requests==2.32.3
ttkwidgets==0.13.0
urllib3==2.2.2
websockets==12.0
yt-dlp==2024.7.25
